<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <title>アプリ名</title>
    <link rel="icon" href="/img/favicon.ico">
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <div class="sign_form">
      <div class="card">
        <div class="title">
          <h1>Bilson</h1>
          <p>Official Fanclub</p>
        </div>
        <!-- ここからコードを書こう -->
        <form action="/signup" method="POST">
          <div>
            <input type="text" name="name" placeholder="ユーザー名">
          </div>
          <div>
            <input type="email" name="email" placeholder="Email">
          </div>
          <div>
            <input type="password" name="password_digest" placeholder="パスワード(英数字を含む)">
          </div>
          <div>
            <input type="submit" value="登録">
          </div>
        </form>
        <p class="footer">すでにアカウントをお持ちの方は<a href="/signin">こちら</a></p>
      </div>
    </div>
  </body>
</html>