@font-face {
  font-family: "agbalumo-regular";
  src: url("../fonts/Agbalumo-Regular.ttf") format("opentype");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "noto-sans-jp-bold";
  src: url("../fonts/NotoSansJP-Bold.otf") format("opentype");
  font-style: bold;
  font-weight: 700;
}

@font-face {
  font-family: "noto-sans-jp-medium";
  src: url("../fonts/NotoSansJP-Medium.otf") format("opentype");
  font-style: medium;
  font-weight: 500;
}

@font-face {
  font-family: "sf-pro-text-bold";
  src: url("../fonts/SF-Pro-Text-Bold.otf") format("opentype");
  font-style: bold;
  font-weight: 700;
}

@font-face {
  font-family: "sf-pro-text-medium";
  src: url("../fonts/SF-Pro-Text-Medium.otf") format("opentype");
  font-style: medium;
  font-weight: 500;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: noto-sans-jp-medium;
}

.sign_form {
  background-color: #EEF0F3;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  background-color: #FFF;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 71px 100px 48px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
}

.title {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  color: #FB5896;
  font-family: agbalumo-regular;
}

.title h1 {
  font-size: 60px;
}

.title p {
  font-size: 40px;
}

form {
  display: flex;
  flex-direction: column;
  row-gap: 36px;
  margin: 48.5px 0 36.5px;
}

input {
  min-width: 496px;
  border-radius: 10px;
  border: 3px solid #D8DADE;
  box-shadow: 0 3px -6px rgba(0, 0, 0, 0.16);
  font-size: 24px;
  padding: 25px 0 25px 25px;
  color: #878B93;
}

input::placeholder {
  color: #878B93;
}

input:focus {
  outline-color: #FB5896;
}

input[type="submit"] {
  font-family: noto-sans-jp-bold;
  padding: 25px 0;
  color: #FFF;
  background-color: #FB5896;
  border: 3px solid #FB5896;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
}

.footer {
  font-family: sf-pro-text-medium;
  font-size: 18px;
  color: #383838;
}

.footer a {
  font-family: sf-pro-text-bold;
  font-weight: 700;
  color: #FB5896;
  text-decoration: none;
}

/*ファンクラブ画面*/
.header {
  background: url('/img/performer.jpeg') no-repeat center center;
  background-size: cover;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  font-family: agbalumo-regular;
  text-align: center;
}
  
.header::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 300px;
  background-color: rgba(0, 0, 0, 0.7);
}

.header h1 {
  position: relative; 
  margin: 0;
  font-size: 3em;
}

.content {
  margin-top: 50px;
}

.article {
  padding: 20px 20%;
}

.article-header {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.article-header img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.article-header p {
  font-size: 1.2em;
  font-weight: bold;
}

.article p{
  font-size: 11px;
  line-height: 2.0;
  font-family: noto-sans-jp-bold;
  color: #6F6F6F;
}

.article h2{
  font-size: 30px;
  margin: 20px 0px;
  line-height: 1.6;
  font-family: noto-sans-jp-bold;
}

.image{
  width: 100%;
  height: 587px;
  object-fit: cover;
  border-radius: 10px;
}

.article-text{
  line-height: 2.0;
  font-size: 24px;
  font-family: noto-sans-jp-midium;
  margin-bottom: 1.5em;
  border-bottom: 2px solid #ccc; /* グレーの下線 */
  padding-bottom: 10px;
}

.article-text div{
  margin-bottom: 20px;
}
